<!DOCTYPE html>
<html lang="ru">
<head>
	{% block title %}<title>ANIME DATABASE</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	{% load static %}
	<link rel="stylesheet" href="C:/Users/Марина Новикова/Desktop/myanimesite/animedatabasesite/templates/static/css/styles.css">


	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
</head>
<body>
	{% block sidebar %}<!-- Sidebar -->{% endblock %}
	{% block content %}<!-- Content -->{% endblock %}
</body>

<footer>
    <div class="footer-content">
        <h4>Marina Novikova</h4>
    </div>
    <div class="footer-bottom">
           <p>©2021—2022 project</p>
    </div>
</footer>
{% endblock %}