{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>about us</title>
	<h1>ANIME DATABASE</h1>

</head>
<body>
	<div class="topmenu">

	<ul class="topmenu-list">

		<li><a href="C:\Users\Марина Новикова\Desktop\myanimesite\animedatabasesite\templates\registration.html" id="registration">Registration</a></li>

		<li><a href="C:\Users\Марина Новикова\Desktop\myanimesite\animedatabasesite\templates\about_us.html" id="about-us">About us</a></li>

		<li><a href="C:\Users\Марина Новикова\Desktop\myanimesite\animedatabasesite\templates\contacts.html" id="contacts">Contacts</a></li>

		<li><a href="C:\Users\Марина Новикова\Desktop\myanimesite\animedatabasesite\templates\mainpage.html" id="home-page">Home page</a></li>

		<li><a href="C:\Users\Марина Новикова\Desktop\myanimesite\animedatabasesite\templates\new_titles.html" id="new-titles" class="active">New titles</a></li>

		<li><div class="btn-group" role="group">

		 <button type="submit" class="btn btn-secondary"
		 onclick="window.location.href='add-anime';">Add new anime</button>

		</div></li>
	</ul>
</div>
<h1>new titles</h1>
<h4>there will be recently added titles</h4>
<h4 id="welcome">Добро пожаловать на сайт!
Тут вы можете найти интересные и новые тайтлы с отзывами 
от реальных людей или сами писать отзывы и делиться этим сайтом со своими друзьями<3</h4>

<p><img src="C:\Users\Марина Новикова\Desktop\myanimesite\animedatabasesite\templates\static\images\mainpic.jpg" id="mainpic" ></p>
</body>

<footer>
    <div class="footer-content">
        <h4>Marina Novikova</h4>
    </div>
    <div class="footer-bottom">
           <p>©2021—2022 project</p>
    </div>
</footer>
