/* Desktop - 1 */

body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 


/* ANIME DATABASE */
h1 .animedatabase{
<<<<<<< HEAD
	position: absolute
	top:0px;
	color: #723F8A;
	font-size: 300%;
	font-family: 'Inter', sans-serif;
	background: #C89EFE; 
    padding: 20px;

}


h2 .kolvo{
	position: absolute;
	top:0;
	right:0;
	color: #723F8A;
	font-family: 'Inter', sans-serif;
	font-size: 50%;
}

.topmenu {
	line-height: 3;
	position: absolute;
	top:199px;
	margin-left: 0%;
    padding-left: 1;
    float: left;
    background: #B470D4;
    width: 297px; 

=======
	color: #723F8A;
	font-size: 300%;

	font-family: 'Inter', sans-serif;

}

/* Всего тайтлов на сайте: */
.rectangle {
  height: 146px;
  width: 1440px;
  background-color: #C89EFE;
}

h2 .kolvo{
	color: #723F8A;
	font-family: 'Inter', sans-serif;
	font-size: 100%;
}
/* Group1 */

#kolvofon{
position: absolute;
width: 1440px;
height: 146px;
left: 0px;
top: 0px;;
>>>>>>> 1b21edae20f1a2144ba9551136bc0431b1ac562e
}


.registration {
	top:0;
	color: #FFFFFF;
	font-size: 100%;

	font-family: 'Inter', sans-serif;

}

.about-us {
	color: #FFFFFF;
	font-size: 100%;

	font-family: 'Inter', sans-serif;
}


<<<<<<< HEAD
=======
/* About us */
/*.topmenu.topmenu-list {
	background-color: #B470D4;
	overflow: hidden;
}
>>>>>>> 1b21edae20f1a2144ba9551136bc0431b1ac562e
.topmenu.topmenu-list li a.active {
  	background-color: #723F8A;
	color: white;
}
.topmenu.topmenu-list li a:hover {
<<<<<<< HEAD
	background-color: #ddd;
	color: black;
=======
  background-color: #ddd;
  color: black;
}*/
.topmenu.topmenu-list li a #about-us {
	position: absolute;
	width: 366px;
	height: 90px;
	left: 22px;
	top: 224px;

	font-family: 'Inter', sans-serif;
	font-style: italic;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	text-align: center;

	color: #FFFFFF;
>>>>>>> 1b21edae20f1a2144ba9551136bc0431b1ac562e
}



/* Contacts */

.contacts { 
	color: #FFFFFF;
	font-size: 100%;

	font-family: 'Inter', sans-serif;
}


/* Home page */

.home-page {
	color: #FFFFFF;
	font-size: 100%;

	font-family: 'Inter', sans-serif;
}


/* New titles */

.new-titles {

	color: #FFFFFF;
	font-size: 100%;
	font-family: 'Inter', sans-serif;
}

/* Add new anime */

.topmenu.topmenu-list .btn-group .btn .btn-secondary {
	color: #FFFFFF;
	font-size: 100%;

	font-family: 'Inter', sans-serif;

}

.mainpic{
	position: absolute;
	top: 700px;
}


/* Добро пожаловать на сайт! Тут вы можете найти интересные и новые тайтлы с отзывами от реальных людей или сами писать отзывы и делиться этим сайтом со своими друзьями<3 */

h4 .welcome {
	position: absolute;

	top: 460px;
	color: #B470D4;
	font-size: 100%;
	padding: 2px;
	font-family: 'Inter', sans-serif;
    background: #F1EDED;
    height: 400px; 
}
h3 .search {
	position: absolute;
	right: 500px;
	color: #FFFFFF;
	font-size: 100%;
	font-family: 'Inter', sans-serif;
	background: #B470D4;
	width: 400px; 
}

<<<<<<< HEAD
.searching-area {
=======
p .mainpic{
>>>>>>> 1b21edae20f1a2144ba9551136bc0431b1ac562e
	position: absolute;
	font-family: 'Inter', sans-serif;
	top:300px;
	right: 100px;
	width: 800px; 
}

.abus-h1 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	right: 50px;
	font-size: 200%;
	height:200px;
	width: 800px; 
}

.abus-h4 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	font-size: 100%;
	right: 100px;
	height:200px;
	width: 300px; 
}
.contacts-h1 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	right: 50px;
	font-size: 200%;
	height:200px;
	width: 800px; 
}

.contacts-h4 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	font-size: 100%;
	right: 100px;
	height:200px;
	width: 300px; 
}
.newtitles-h1 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	right: 50px;
	font-size: 200%;
	height:200px;
	width: 800px; 
}

.newtitles-h4 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	font-size: 100%;
	right: 100px;
	height:200px;
	width: 300px; 
}
.registration-h1 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	right: 50px;
	font-size: 200%;
	height:200px;
	width: 800px; 
}

<<<<<<< HEAD
.registration-h4 {
	position: absolute;
	color:#B470D4;
	font-family: 'Inter', sans-serif;
	top:300px;
	font-size: 100%;
	right: 100px;
	height:200px;
	width: 300px; 
}
=======
background: rgba(196, 196, 196, 0.34);*/
>>>>>>> 1b21edae20f1a2144ba9551136bc0431b1ac562e
